@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans+SC:wght@400;500;600;700&display=swap');

.markdown-editor-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--markdown-editor-color-border);

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: var(--remons-md-editor-bg-fullscreen);
    width: 100vw;
    height: 100vh;
  }
}
